<%- include Partials/head.ejs %>
<%- include Partials/main_nav.ejs %>

<main>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the Buns & Guns Page</h1>
  </div>
</div>
<br>
<article>
        <h2> <i class="fa-solid fa-circle-question"></i> The Every Fast Food Restaurant <i class="fa-solid fa-circle-question"></i></h2>
        <h5>Have you ever had the craving for a burger, wrap, a handgun and a pizza, but you are too lazy
        to order them from their different respective stores?<br>
        Well, you're in luck, because at Every Fast Food Restaurant, we offer you any fast food that
        could ever want, want pizza and shakes, or burger and dips, we'll take care of pesky problems for you!!!.<br>
        Call now @ 0909099900 and I will personally take care of pesky people for you, with every purcahse of a kids meal.</h5>
        <h6>Special offer lasts only till kids meal on stock,</h6>
        <section>
            <h4>Why this Speciality Business?</h4>
            <p>This project was made as a requirement of my Assignment 3 for the course Web Development.</p>
            <p>Because we understand the specific needs of our most valuable and dearest customers. Be it hunger
             for food or hunger for violence, we have you covered in all aspects. We even provide on request on-site 
             backup, with every special pesky orders. So what are you waiting for have a free burger on us with every 
             order of a gun.</p>
        </section>
    </article>
</main>
<!--Footer-->
<%- include Partials/btm_nav.ejs %>
  <!--Script files-->
<%- include Partials/footer.ejs %>
